body{
  font-family:'Times New Roman', Times, serif;
}

.header{
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  color: black;
  text-decoration: none;
}

.logo img{
  width: 500px;
}

.logo{
  display: flex;
  justify-self: center;
}

.searchbar{
  display: flex;
  justify-self: center;
  width: 400px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid
}

.button{
  display: flex;
  justify-content: center;
  padding-top: 7px;
  height: 26px;
  border-radius: 8px;
  gap: 5px
}

.thing, .other-thing{
  background-color: rgb(214, 214, 214);
  border: none;
  border-radius: 8px;
}

.content {
  flex: 1;
}

.footer{
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
}

.left, .right {
  display: flex;
  gap: 10px;
}

.left-link, .right-link {
  display: flex;
  gap: 10px;
}