body {
  background-color: gray;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  background-color: #eee;
  width: 400px;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  border-radius: 12px;
}

.mark {
  background-color: rgb(188, 207, 248);
  color: blue;
  height: 27px;
  width: 27px;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 20px;
  text-align: left;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(85, 83, 83);
}

.cross {
  font-size: 20px;
  background-color: rgb(219, 216, 216);
  border-radius: 50%;
  width: 24px;
  text-align: center;
}

.alert {
  text-align: start;
  padding-left: 30px;
}

.text {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.button {
  padding-top: 15px;
  padding-left: 30px;
}

.continue {
  background-color: rgb(43, 113, 243);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.cancel {
  background-color: none;
  color: rgb(43, 113, 243);
  border: 2px solid lightgray;
  border-radius: 8px;
  padding: 8px;
}
